.headerContainer {
    display: flex;
    gap: 1.5em;
    flex-direction: column;
    background-color: var(--secondryClr);
    padding: 1em 3em;
}

.topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.logo {
    font-size: var(--logo);
    font-size: 2rem;
}

.mainNav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainNav ul li {
    list-style: none;
    cursor: pointer;
    padding: 8px 16px;
    transition: var(--transition);
    cursor: pointer;
    border-radius: 8px;

}

.mainNav ul li:hover {
    background-color: var(--tertiaryClr);
    border-radius: 4px;
}

.topNavIcons {
    font-size: 24px;
    width: 42px;
    height: 42px;
    padding: 4px 8px;
    cursor: pointer;
    transition: var(--transition);
    border-radius: 4px;
}

.topNavIcons:hover {
    width: 42px;
    height: 42px;
    padding: 4px 8px;
    background-color: var(--tertiaryClr);
    border-radius: 4px;

}


.topNavIconsContainer {
    display: flex;
    align-items: center;
    gap: 1em;
}

.cartContainer {
    position: relative;
}

.cartCounter {
    background-color: red;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(.6);
    top: 0px;
    right: 0px
}

.hamburgerIcon {
    display: none;
}

/* -------bottom navbar styling------ */

.bottomNav ul {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
}

.bottomNav ul li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 8px;
    cursor: pointer;
    transition: var(--transition);
}

.bottomNav ul li:hover {
    background-color: var(--tertiaryClr);
    border-radius: 4px;

}

/* media queries */
@media screen and (max-width:1296px) {
    .bottomNav {
        display: none;
    }
}

@media screen and (max-width:1024px) {
    .mainNav {
        display: none;
    }

    .hamburgerIcon {
        display: block;
    }

    .bellIcon {
        display: none;
    }
}

@media screen and (max-width:658px) {
    .headerContainer {
        padding: 1em;
    }

    .topHeader {
        gap: 1em;
    }

    .topNavIconsContainer {
        gap: 1em;
    }

    .topNavIcons {
        font-size: 20px;
    }


}