.mainContainer {
    display: flex;
    justify-content: space-between;
    margin: 1em 4em;
}

.leftContainer {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 70%;
    flex-wrap: wrap;
}