.gradientBtn {
    background: var(--buttonGradient);
    padding: 9px 17px;
    color: var(--primaryClr);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    transition: var(--transition);
    cursor: pointer;
}

.gradientBtn:hover {
    background: var(--buttonGradientHover);
}