* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

:root {
  --primaryClr: #222236;
  --secondryClr: #2A2B44;
  --tertiaryClr: #454566;
  --cardHoverClr: #393954;
  --textClr: white;
  --buttonGradient: linear-gradient(122deg, #fee5a5, #fea5a5 62%, #f69393 100%, #fff);
  --textGradient: linear-gradient(122deg, #f17b85, #f79393 15%, #fee4a5 45%, #9ae8b0 65%, #5ba5d0 90%, #9078d0);

  /* text styles */
  --logo: 40px;
  --navLinks: 16px;
  --bottomLinks: 12px;

  /* others */
  --transition: .3s;
}

body {
  margin: auto;
  width: 100%;
  max-width: 1440px;
  font-family: mainFont;
  font-family: var(--font-finlandica);
  background-color: var(--primaryClr);
  color: var(--textClr);
}

body::-webkit-scrollbar {
  width: 4px;
  background-color: var(--tertiaryClr);
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(122deg, #454566, #fea5a5 62%, #f69393 100%, #fff);
  border-radius: 5px;
}