.featuredCardContainer {
    border-radius: 5px;
    overflow: hidden;
    width: 350px;
    height: 200px;
    position: relative;
}

.image {
    border-radius: 5px;
    z-index: 1;
}

.label {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--secondryClr);
    opacity: .7px;
    border-bottom-right-radius: 5px;
    padding: 8px;
    font-size: 12px;
}

.bottomText {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.title {
    font-weight: 500;
}

.infoText {
    font-size: 12px;
}