.LlamaContainer {
    width: 50%;
    min-width: 570px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.rangeSlider {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.exampleWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.examplesContainer {
    width: 100%;
    height: 200px;
    background-color: var(--secondryClr);
    border-radius: 10px;
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

@media screen and (max-width:768px) {
    .LlamaContainer {
        width: 100%;
        min-width: 100%;
    }
}